@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;

  /* colors */
  --main-color: #96025e;
  --main-color_light: rgba(150, 2, 94, 0.8);
  --green-sucess: #0be124;
  --white: #fff;
  --lightWhite: rgba(255, 255, 255, 0.7);
  --black: #262626;
}
html {
  scroll-behavior: smooth;
}
